// MAIN SASS FILE TO IMPORT ALL SASS FILES

// HELPERS
@import '1-helpers/variables';
@import '1-helpers/functions';
@import '1-helpers/mixins';

// BASE
@import '2-base/global';
@import '2-base/typography';
@import '2-base/footer';

// HOME
@import '3-home/header';
@import '3-home/base';