.container {
    margin: 3rem 10rem;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    &__element {
        min-height: 2rem;
        min-width: 2rem;
        border-radius: 1rem;

        background-color: rgba(255,255,255,.7);
    }

    &__text-container {
    padding: 2rem;
    }
}