/* FONTS */

// @font-face{
//     font-family: "movement";
//     src: url("./webfonts/movement/Movement-IndirectThin.woff2") format("woff2"),
//         url("./webfonts/movement/Movement-IndirectThin.otf") format("otf");
// }

@font-face {
    font-family:"Porpora";
    src: url("./webfonts/Porpora-Regular.woff2") format("woff2"),
         url("./webfonts/Porpora-Regular.woff") format("woff");
    font-weight:normal;
    font-style:normal;
  }

@font-face {
    font-family:"Sligoil";
    src: url("./webfonts/Sligoil-Micro.woff2") format("woff2"),
         url("./webfonts/Sligoil-Micro.woff") format("woff");
    font-weight:normal;
    font-style:normal;
  }

/* TYPOGRAPHY */

// $font-header: movement;

body {
    font-family: "Porpora";
    font-size: 2.5rem;
    @include respond(phone) {
        font-size: 2rem;
    }
}

#textinput,
#submitbutton,
#questionField {
    font-family: "Sligoil";
    font-size: 2.5rem;
    @include respond(phone) {
        font-size: 2rem;
    }
}
